<!DOCTYPE HTML>
<html ng-app="myApp" ng-controller="main">
<head>
	<meta charset="utf-8">
	<title ng-bind="page.name"></title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script>
		angular.module("myApp", []).controller("main", function($scope, $http) {
			$scope.tab = "about";
			$http.get("data/page_299951923544433_info.json").then(
				function(r){$scope.page = r.data;},
				function(r){console.log(r);}
			);
			$http.get("data/page_299951923544433_feed.json").then(
				function(r){$scope.posts = r.data;},
				function(r){console.log(r);}
			);
		});
	</script>
	<link rel="stylesheet" href="styles/style.css">
</head>
<body>
	<div ng-include="'templates/body_header.html'"></div>
	<section id="about" ng-show="tab=='about'">
		<h2>About</h2>
		<dl>
			<dt ng-repeat-start="(field, value) in page">{{field}}</dt>
			<dd ng-repeat-end>{{value|json}}</dd>
		</dl>
	</section>
	<section id="timeline" ng-show="tab=='timeline'">
		<h2>Timeline</h2>
		<label>Search: <input ng-model="searchText" ng-model-options="{debounce: 250}" placeholder="search text"></label>
		<article ng-include="'templates/post_body.html'"
			ng-repeat="post in posts|filter:searchText|orderBy:'-created_time'"
		></article>
	</section>
</body>
</html>
