<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Timeline Crawler Standalone</title>
		<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
		<script src="//connect.facebook.net/zh_TW/sdk.js" id="facebook-jssdk"></script>
		<script src="js/fbsdk-config.js"></script>
		<script src="js/fbsdk-extend.js"></script>
		<link rel="stylesheet" href="styles/std.css">
		<link rel="stylesheet" href="styles/main.css">

<script>
var neededFields = {};
var dataset = [];
var crawlables = [
	{	name: "Posts I published",
		alias: "posts",
		path: "/me/posts",
		type: "post",
		permission: "user_posts"
	},
	{	name: "Albums and photos I published",
		alias: "albums_and_photos",
		path: "/me/albums",
		type: "album",
		permission: "user_photos",
		edges: [{name: "photos", type: "photo"}]
	},
	/*{	name: "Pages I liked",
		path: "/me/likes",
		type: "page",
		permission: "user_likes"
	},*/
	{	name: "Posts I was tagged in",
		alias: "tagged_posts",
		path: "/me/tagged",
		type: "post",
		permission: "user_posts"
	},
	{	name: "Photos I was tagged in",
		alias: "tagged_photos",
		path: "/me/photos?type=tagged",
		type: "photo",
		permission: "user_photos"
	}
];

FB.init(FBConfig);
$.getJSON("metadata/v2.5.json", function(metadata) {
	$.getJSON("metadata/excludedFields.json", function(excludedFields) {
		for(var nodeType in metadata) {
			var typeInfo = metadata[nodeType];
			typeInfo.neededFields = [];
			if(!Array.isArray(typeInfo.fields)) continue;
			typeInfo.fields.forEach(function(field) {
				if(!Array.isArray(excludedFields[nodeType])
					|| excludedFields[nodeType].indexOf(field.name) == -1
				) typeInfo.neededFields.push(field.name);
			});
			window.neededFields[nodeType] = typeInfo.neededFields;
		}
		//console.log(window.neededFields);
	});
});

angular.module("myApp", [])
.config([
    '$compileProvider',
    function($compileProvider) {
        $compileProvider.aHrefSanitizationWhitelist(/^\s*(https?|blob):/);
    }
])
.controller("main", function($scope) {
	$scope.running = false;
	$scope.message = "";
	$scope.crawlables = window.crawlables;
	$scope.downloadable = false;
	$scope.setCrawl = function(index, withComments) {
		var target = window.crawlables[index];
		var edges = target.edges || [];
		withComments = withComments ? true : false;
		$scope.message = "Crawling ";
		if(withComments) {
			var c = {
				name: "comments", type: "comment", edges: [{
					name: "comments", type: "comment"
				}]
			};
			for(var i = 0; i < edges.length; ++i) {
				if(!edges[i].edges) edges[i].edges = [];
				edges[i].edges.push(c);
			}
			edges.push(c);
			$scope.message += "(comments included) ";
		}
		$scope.running = true;
		var callback = function() {
			//console.log("crawl() finished.");
			$scope.running = false;
			target.status = withComments ? "withComments" : "noComments";
			target.href = URL.createObjectURL(
				new Blob(
					[JSON.stringify(window.dataset[index], null, "\t")],
					{type: "application/json"}
				)
			);
			$scope.message = "Finished crawling " + target.name;
			if(withComments) $scope.message += " with comments";
			$scope.downloadable = true;
			console.log(target.href);
			$scope.$apply();
		};

		if(window.dataset[index] && window.dataset[index].length)
			crawlEdges(window.dataset[index], edges, 0, callback);
		else {
			window.dataset[index] = [];
			FB.requestPermissionIfNotPermitted(target.permission, function() {
				window.crawl(window.dataset[index], target.path, target.type, edges, callback);
			}, function() {
				console.error("Permission denied:", target.permission);
				alert("Permission denied.");
				$scope.running = false;
				$scope.$apply();
			});
		}
	};

	window.setStatus = function(status) {
		$scope.status = status;
		$scope.$apply();
	}
	window.addMessage = function(str) {
		$scope.message += str;
		$scope.$apply();
	}

	$scope.downloadHTML = window.downloadHTML;
});

function crawl(storage, path, type, edges, callback) {
	console.log(path);
	if(path.indexOf("fields=") == -1) {
		path += (path.indexOf("?") == -1) ? "?" : "&";
		path += "fields=" + neededFields[type].join(",");
	}
	setTimeout(function() {
		addMessage(".");
		FB.apiwt(path, function(r) {
			if(r.data) {
				for(var i = 0; i < r.data.length; ++i) storage.push(r.data[i]);
				setStatus({
					path: path,
					last: storage.length ? storage[storage.length - 1] : {}
				});
				if(r.paging && r.paging.next) {
					crawl(storage, r.paging.next, type, edges, callback);
					return;
				}
			}
			if(edges && edges.length) crawlEdges(storage, edges, 0, callback);
			else callback();
		});
	}, 500);
}

function crawlEdges(storage, edges, index, callback) {
	if(index == edges.length) return callback();
	crawlEdge(storage, 0, edges[index], function() {
		crawlEdges(storage, edges, index + 1, callback);
	});
}

function crawlEdge(storage, index, edge, callback) {
	if(index == storage.length) return callback();
	if(edge.name == "comments" && storage[index].comment_count === 0)
		return crawlEdge(storage, index + 1, edge, callback);

	storage[index][edge.name] = [];
	crawl(
		storage[index][edge.name],
		"/" + storage[index].id + "/" + edge.name,
		edge.type,
		edge.edges,
		function() {
			crawlEdge(storage, index + 1, edge, callback);
		}
	);
}

function downloadHTML() {
	FB.apiwt("/me?fields=" + neededFields.user.join(","), function(userInfo) {
		$.get("static.html", function(html) {
			$.get("js/controller.js", function(js) {
				$.get("styles/style.css", function(css) {
var pre = html.substr(0, html.indexOf("<!--FBBKTemplateStart"));
var post = html
	.substr(html.indexOf("<!--FBBKTemplateEnd") + 22)
	.replace("<" + 'script src="js/controller.js">', "<" + "script>" + js)
	.replace('<link rel="stylesheet" href="styles/style.css">', "<style>" + css + "</style>")
;

var script = "<" + "script> type = 'user';";
var node = {info: userInfo};
for(var i = 0; i < dataset.length; ++i) {
	if(!dataset[i] || !dataset[i].length) continue;
	var tab = crawlables[i].type + "s";
	if(!node[tab]) node[tab] = [];
	node[tab] = node[tab].concat(dataset[i]);
}
script += "node = " + JSON.stringify(node) + ";";
script += "</" + "script>";

html = pre + script + post;

window.html = html;
var a = document.createElement("a");
var blob = new Blob([html], {type: "text/html"});
a.href = URL.createObjectURL(blob);
a.download = "static.html";
a.click();
				});
			});
		});
	});
}

</script>

	</head>
	<body ng-app="myApp" ng-controller="main">
		<header>
			<span id="brand">Timeline Crawler</span>
		</header>
		<section>
			<section>
				<h2>Notice</h2>
				<p>Not for mobiles. Not for IE browser.</p>
				<p>Image files are NOT saved. But with the links, you can use other tools to download them.</p>
			</section>
			<table border="1">
				<tbody>
					<tr ng-repeat="row in crawlables">
						<td>{{row.name}}</td>
						<td>
							<a ng-show="row.href" download="{{row.alias}}.json" href="{{row.href}}">
								Export
								with<span ng-show="row.status=='noComments'">out</span>
								comments
							</a>
							<button ng-disabled="running" ng-hide="row.href" ng-click="setCrawl($index)">Crawl</button>
							<button ng-disabled="running" ng-hide="row.status=='withComments'" ng-click="setCrawl($index, true)">
								Crawl
								<span ng-hide="row.href">with</span>
								comments
							</button>
						</td>
					</tr>
				</tbody>
			</table>
			<button ng-disabled="!downloadable" ng-click="downloadHTML()">Download HTML</button>
			<p>{{message}}</p>
			<div class="dlTable" ng-show="status.last">
				<dl>
					<dt>Last<br>request</dt>
					<dd>{{status.path}}</dd>
				</dl>
				<dl>
					<dt>Last<br>document</dt>
					<dd>
						<div class="dlTable">
							<dl>
								<dt>created_time</dt>
								<dd>{{status.last.created_time}}</dd>
							</dl>
							<dl>
								<dt>message</dt>
								<dd class="rawdata">{{status.last.message || status.last.name}}</dd>
							</dl>
							<dl>
								<dt>details</dt>
								<dd><details class="rawdata">{{status.last|json}}</details></dd>
							</dl>
						</div>
					</dd>
				</dl>
			</div>
		</section>
		<footer></footer>
	</body>
</html>
