<h1>About</h1>
<p>Wanna download your own data? <a href="https://github.com/kong0107/facebook-backup#readme">See here</a> if you know what a "web server" is.</p>
<p>This tool is made by <a href="https://facebook.com/kong.sex">Kong</a> in Taiwan. But the site you see may be maintained by other people.</p>
<p>You can download data from Facebook, including comments of each post and photo, without losing data of author, time, tags and links. You can consider the exported data as a backup of Facebook.</p>
<p>This site is a standalone version of <a href="https://github.com/kong0107/facebook-backup">the project</a> and established on <a href="https://pages.github.com/">GitHub Pages</a>. There's no server-side language here (except Facebook SDK, for which Facebook is responsible), and thus your data is not saved by this site.</p>
