<h3>{{node.name}}</h3>
<div class="metadata">
	<ul>
		<li>
			<a class="time_container" name="{{node._id}}" href="{{node.link}}">
				<time ng-if="node.backdated_time" datetime="{{node.backdated_time}}"
					title="backdated_time" class="backdated_time"
				>{{node.backdated_time|date:'yyyy-MM-dd HH:mm:ss'}}
				</time>
				<time ng-if="!node.backdated_time"  datetime="{{node.created_time}}"
					title="created_time" class="created_time"
				>{{node.created_time | date: 'yyyy-MM-dd HH:mm:ss'}}
				</time>
			</a>
		</li>
		<li title="privacy" class="privacy">Viewable to {{node.privacy}}</li>
		<li>Type: {{node.type}}</li>
		<li ng-if="node.event">{{node.event|json}}</li>
	</ul>
</div>
<p ng-if="node.place">
	Place:
	<address ng-include="'templates/place.html'" onload="place=node.place"></address>
</p>
<p class="description">{{node.description}}</p>
<details>
	<summary>
		{{node.photos.length|number}} photos
	</summary>
	<div class="photoContainer" ng-include="'templates/photo.html'"
		ng-repeat="node in node.photos"
	></div>
</details>
<details ng-if="node.comments.length">
	<summary title="newest: {{node.updated_time|date:'yyyy-MM-dd HH:mm:ss'}}">
		{{node.comments.length|number}} comment(s)
	</summary>
	<section class="comment" ng-include="'templates/comment.html'"
		ng-repeat="comment in node.comments | orderBy: 'created_time'"
	></section>
</details>
<!--details class="rawdata"><summary>JSON</summary>{{node|json}}</details-->
