<h3>{{node.name}}</h3>
<div class="metadata">
	<ul>
		<li>
			<a class="time_container" name="{{node._id}}" href="{{ret.createLink(node._id)}}">
				<time datetime="{{node.updated_time}}"
					title="Last update time" class="updated_time"
				>{{node.updated_time | date: 'yyyy-MM-dd HH:mm:ss'}}
				</time>
			</a>
		</li>
		<li ng-if="node.category">Category: {{node.type}}</li>
		<li ng-if="node.type">Type: {{node.type}}</li>
		<li ng-if="node.timezone">Timezone: {{node.timezone}}</li>
		<!--li title="Statistics">
			<dl>
				<dt>Attending</dt><dd>{{node.attending_count}}</dd>
				<dt>Declined</dt><dd>{{node.declined_count}}</dd>
				<dt>Maybe</dt><dd>{{node.maybe_count}}</dd>
				<dt>No replay</dt><dd>{{node.noreply_count}}</dd>
				<dt>Interested in</dt><dd>{{node.interested_count}}</dd>
			</dl>
		</li-->
	</ul>
</div>
<nav>
	<ul>
		<li ng-if="node.ticket_uri">
			<a href="{{node.ticket_uri}}">Buy a ticket</a>
		</li>
		<li>Owner: <a href="{{ret.createLink(node.owner.id)}}">{{node.owner.name}}</a></li>
		<li ng-if="node.parent_group">
			Parent:
			<a href="{{ret.createLink(node.parent_group.id)}}"
			>{{node.parent_group.name}}</a>
		</li>
	</ul>
</nav>
<dl>
	<dt>From</dt>
	<dd>
		<time datetime="{{node.start_time}}">
			{{node.start_time|date:'yyyy-MM-dd (EEE) HH:mm'}}
		</time>
	</dd>
	<dt ng-if="node.end_time">To</dt>
	<dd ng-if="node.end_time">
		<time datetime="{{node.end_time}}">
			{{node.end_time|date:'yyyy-MM-dd (EEE) HH:mm'}}
		</time>
	</dd>
	<dt>Place</dt>
	<dd><address ng-include="'templates/place.html'" onload="place=node.place"></address></dd>
</dl>
<details ng-if="node.description" class="description"
><summary>Description</summary>{{node.description}}
</details>
<div>
	<h4>Statistics</h4>
	<dl>
		<dt>Attending</dt><dd>{{node.attending_count}}</dd>
		<dt>Declined</dt><dd>{{node.declined_count}}</dd>
		<dt>Maybe</dt><dd>{{node.maybe_count}}</dd>
		<dt>No replay</dt><dd>{{node.noreply_count}}</dd>
		<dt>Interested in</dt><dd>{{node.interested_count}}</dd>
	</dl>
</div>
<details ng-if="node.comments">
	<summary title="newest: {{node.updated_time|date:'yyyy-MM-dd HH:mm:ss'}}">
		{{node.comments.length|number}} comment(s)
	</summary>
	<section class="comment" ng-include="'templates/comment.html'"
		ng-repeat="comment in node.comments | orderBy: 'created_time'"
	></section>
</details>
<!--details class="rawdata"><summary>JSON</summary>{{node|json}}</details-->
