<h1 ng-bind="node.name"></h1>
<p class="about" ng-if="node.about" ng-bind="node.about"></p>
<p class="about" ng-if="node.bio" ng-bind="node.bio"></p>
<blockquote class="about" ng-if="!node.about && !node.bio" ng-bind="node.quotes"></blockquote>
<nav>
	<ul>
		<li ng-click="ret.tab='info'" ng-class="(ret.tab=='info')?'focus':''"
		>Info</li>
		<li ng-repeat="t in tabs" ng-if="ret[t].length"
			ng-click="ret.tab=t" ng-class="(ret.tab==t)?'focus':''"
		>{{t|capitalize}} <span class="count">({{ret[t].length}})</span></li>
		<li><a href="{{node.link||ret.createLink(node.id)}}">Facebook</a></li>
	</ul>
</nav>
