<section>
	<h2>Notice</h2>
	<p>
		可下載任何公開狀態的臉書粉絲專頁的資料，但請留意著作權仍歸原發表人。
		<br>
		You can download data from any public Facebook Fan Page. But note that copyright belongs to who published the posts, photos, and/or comments.
	</p>
	<p>
		不支援行動裝置（手機或平板）。不支援 IE 瀏覽器。建議使用 Chrome 。
		<br>
		Not for mobiles. Not for IE browser. Chrome is recommended.
	</p>
	<p>
		不會下載圖片檔，僅有照片的說明文字。
		<br>
		Image files are NOT saved. But with the links, you can use other tools to download them.
	</p>
</section>
<div ng-hide="FBAuth">
	<button class="FBButton" ng-click="FBLogin()">Facebook Login</button>
</div>
<section ng-show="FBAuth">
	<section ng-hide="type">
		<h2>What do you wanna crawl?</h2>
		<button ng-hide="disableUserCrawl" ng-click="setType('user')">My data</button>
		<button ng-click="setType('page')">Some Fan Page</button>
	</section>
	<section ng-show="type && !idDecided">
		<h2>Craw some fan page</h2>
		輸入粉絲專頁的顯示名稱。
		<br>
		Enter the name of the page.
		<br>
		<input ng-model="searchText"
			ng-change="search()"
			ng-model-options="{debounce: 500}"
			placeholder="ID or search text"
		>
		<ul class="inlineList">
			<li ng-repeat="node in searchResult" class="inlineBlock">
				<label>
					<input type="radio" ng-model="$parent.nodeId" ng-value="node.id"
						ng-click="preview(node.id)"
					>{{node.name}}
				</label>
			</li>
		</ul>
		<button ng-disabled="!nodeId" ng-click="decideID(nodeId)" ng-class="nodeId?'FBButton':''">Next step</button>
	</section>
	<section ng-show="nodeInfo" style="border: 1px solid #888; padding: .5em;">
		<header style="display: table;">
			<img ng-if="nodeInfo.picture"
				ng-src="{{nodeInfo.picture.data.url}}"
				style="display: table-cell; padding: 0.2em; margin: 0.2em;"
			>
			<div style="display: table-cell; vertical-align: top;">
				<h3><a target="_blank" href="{{nodeInfo.link||('http://facebook.com/'+nodeInfo.id)}}" style="text-decoration: none;">{{nodeInfo.name}}</a></h3>
				<span>{{nodeInfo.category}}</span>
			</div>
		</header>
		ID: {{nodeInfo.id}}
		<p ng-if="nodeInfo.likes">{{nodeInfo.likes |number}} likes</p>
		<div style="white-space: pre-wrap; max-height: 8em; overflow: auto; border-top: 1px dashed #ccc;"
		>{{(nodeInfo.description || nodeInfo.about)}}</div>
	</section>
	<section ng-show="idDecided">
	<table border="1">
		<tbody>
			<tr ng-repeat="row in crawlables">
				<td class="rawdata">{{row.name}}</td>
				<td>
					<a ng-show="row.href" download="{{row.alias}}.json" href="{{row.href}}">
						Export JSON
						with<span ng-show="row.status=='noComments'">out</span>
						comments
					</a>
					<button ng-disabled="running" ng-hide="row.href" ng-click="setCrawl($index)">開始抓資料<br>Crawl</button>
					<button ng-disabled="running" ng-hide="row.status=='withComments'" ng-click="setCrawl($index, true)">
						連同回應也一起抓
						<br>
						Crawl
						<span ng-hide="row.href">with</span>
						comments
					</button>
				</td>
			</tr>
		</tbody>
	</table>
	<button ng-disabled="!downloadable" ng-click="downloadHTML()" ng-class="downloadable?'FBButton':''">下載網頁<br>Download HTML</button>
	<p style="font-family: monospace;">{{message}}</p>
	<div class="dlTable" ng-show="status.last">
		<dl>
			<dt>Last<br>request</dt>
			<dd>{{status.path}}</dd>
		</dl>
		<dl>
			<dt>Last<br>document</dt>
			<dd>
				<div class="dlTable">
					<dl>
						<dt>created_time</dt>
						<dd>{{status.last.created_time}}</dd>
					</dl>
					<dl>
						<dt>message</dt>
						<dd class="rawdata">{{status.last.message || status.last.name}}</dd>
					</dl>
					<dl>
						<dt>details</dt>
						<dd><details class="rawdata">{{status.last|json}}</details></dd>
					</dl>
				</div>
			</dd>
		</dl>
	</div>
	</section>
</sction>
