<section>
	<h2>Notice</h2>
	<p>
		不支援行動裝置（手機或平板）。不支援 IE 瀏覽器。建議使用 Chrome 。
		<br>
		Not for mobiles. Not for IE browser. Chrome is recommended.
	</p>
	<p>
		不會下載圖片檔，僅有照片的說明文字。
		<br>
		Image files are NOT saved. But with the links, you can use other tools to download them.
	</p>
</section>
<div ng-hide="FBAuth">
	<button style="background: rgb(53,76,140); font-family: helvetica, arial, sans-serif; color: #fff; padding: 1em; font-weight: bold; border: none;"
		ng-click="FBLogin()"
	>Facebook Login</button>
</div>
<section ng-show="FBAuth">
	<table border="1">
		<tbody>
			<tr ng-repeat="row in crawlables">
				<td>{{row.name}}</td>
				<td>
					<a ng-show="row.href" download="{{row.alias}}.json" href="{{row.href}}">
						Export
						with<span ng-show="row.status=='noComments'">out</span>
						comments
					</a>
					<button ng-disabled="running" ng-hide="row.href" ng-click="setCrawl($index)">Crawl</button>
					<button ng-disabled="running" ng-hide="row.status=='withComments'" ng-click="setCrawl($index, true)">
						Crawl
						<span ng-hide="row.href">with</span>
						comments
					</button>
				</td>
			</tr>
		</tbody>
	</table>
	<button ng-disabled="!downloadable" ng-click="downloadHTML()">Download HTML</button>
	<p>{{message}}</p>
	<div class="dlTable" ng-show="status.last">
		<dl>
			<dt>Last<br>request</dt>
			<dd>{{status.path}}</dd>
		</dl>
		<dl>
			<dt>Last<br>document</dt>
			<dd>
				<div class="dlTable">
					<dl>
						<dt>created_time</dt>
						<dd>{{status.last.created_time}}</dd>
					</dl>
					<dl>
						<dt>message</dt>
						<dd class="rawdata">{{status.last.message || status.last.name}}</dd>
					</dl>
					<dl>
						<dt>details</dt>
						<dd><details class="rawdata">{{status.last|json}}</details></dd>
					</dl>
				</div>
			</dd>
		</dl>
	</div>
</sction>
