<header style="display: inline-block; width: 40%;">
	<a class="photo" href="{{node.link}}"><img ng-src="{{node.picture.data.url}}"></a>
	<div class="photo_side">
		<h3 class="photo_name"><a href="{{node.link}}">{{node.name}}</a></h3>
		{{node.category}}
	</div>
</header>
<details>
	<summary ng-click="ret.showDetails[node._id]=!ret.showDetails[node._id]">Details</summary>
	<nav>
		<ul>
			<li ng-if="node.cover"><a href="{{node.cover.source}}">Cover Photo</a></li>
			<li ng-if="node.website"><a href="{{node.website}}">Website</a></li>
			<li ng-if="node.featured_video">
				<a href="{{ret.createLink(node.featured_video.id)}}"
					title="{{node.featured_video.description}}"
				>Featured Video</a>
			</li>
			<li ng-if="node.best_page">
				<a title="The best available Page on Facebook for the concept represented by this Page."
					href="{{ret.createLink(node.best_page.id)}}"
				>{{node.best_page.name}}</a>
			</li>
		</ul>
	</nav>
	<p>{{node.likes|number}} people like this.</p>
	<p ng-if="node.were_here_count">{{node.were_here_count|number}} people were here.</p>
	<p>{{node.talking_about_count|number}} are talking about this.</p>
	<p ng-if="node.founded">Founded at <time>{{node.founded}}</time></p>
	<p ng-if="node.release_date">Released at <time>{{note.release_date}}</time></p>
	<p ng-if="node.start_info.date" title="start_info">
		{{node.start_info.type}}
		at
		<time>
			<span class="year">{{node.start_info.date.year}}</span
			><span class="month" ng-if="node.start_info.date.month">-{{node.start_info.date.month}}</span
			><span class="day" ng-if="node.start_info.date.day">-{{node.start_info.date.day}}</span>
		</time>
	</p>
	<section ng-repeat="field in ret.displaySet.page.block"
		ng-if="node[field]" class="description"
	><h4>{{field|capitalize}}</h4>{{node[field]}}</section>

	<section ng-repeat="field in ret.displaySet.page.complicated"
		ng-if="node[field]" class="dlWrapper"
	>
		<h4>{{field|capitalize}}</h4>
		<dl ng-repeat="(k,v) in node[field]">
			<dt>{{k}}</dt><dd>{{v}}</dd>
		</dl>
	</section>
	<div class="dlWrapper">
		<dl ng-repeat="field in ret.displaySet.page.inline" ng-if="node[field]">
			<dt>{{field|capitalize}}</dt><dd class="description">{{node[field]}}</dd>
		</dl>
		<dl ng-repeat="field in ret.displaySet.page.list" ng-if="node[field]">
			<dt>{{field|capitalize}}</dt>
			<dd><ul><li ng-repeat="ele in node[field]">{{ele}}</li></ul></dd>
		</dl>
		<dl ng-repeat="field in ret.displaySet.page.complicatedList" ng-if="node[field]">
			<dt>{{field|capitalize}}</dt>
			<dd>
				<div class="tableRow">
					<div ng-repeat="(k,v) in node[field][0]" class="tableCell">{{k}}</div>
				</div>
				<div ng-repeat="ele in node[field]" class="tableRow">
					<div ng-repeat="(k,v) in ele" class="tableCell description"
						title="{{k}}"
					>{{v}}</div>
				</div>
			</dd>
		</dl>

		<dl ng-if="node.category_list">
			<dt>Sub-categories</dt>
			<dd><ul><li ng-repeat="c in node.category_list">{{c.name}}</li></ul></dd>
		</dl>
		<dl ng-repeat="field in ret.displaySet.page.unknown" ng-if="node[field]">
			<dt>{{field}}</dt>
			<dd style="white-space: pre-wrap;">{{node[field]}}</dd>
		</dl>
	</div>
	<!--details class="rawdata"><summary>JSON</summary>{{node|json}}</details-->
</details>
