<div class="metadata">
	<ul>
		<li>
			<a class="time_container" name="{{node._id}}" href="{{node.link}}">
				<time ng-if="node.backdated_time" datetime="{{node.backdated_time}}"
					title="backdated_time" class="backdated_time"
				>{{node.backdated_time|date:'yyyy-MM-dd HH:mm:ss'}}
				</time>
				<time ng-if="!node.backdated_time"  datetime="{{node.created_time}}"
					title="created_time" class="created_time"
				>{{node.created_time | date: 'yyyy-MM-dd HH:mm:ss'}}
				</time>
			</a>
		</li>
		<li ng-if="node.page_story_id">
			<a href="{{ret.createLink(node.page_story_id,'posts')}}">page story</a>
		</li>
		<li ng-if="node.event">{{node.event|json}}</li>
	</ul>
</div>
<a class="photo" href="data/photos/album_{{node.album.id}}/{{node._id}}.jpg"
><img ng-src="{{node.picture}}"></a>
<p class="photo_side description">{{node.name}}</p>
<div class="photo" ng-include="'templates/photo.html'"
	ng-repeat="photo in ret.photosInAlbum[node._id]"
></div>
<ul class="tags">
	<li ng-repeat="tag in node.name_tags">
		<a href="createLink(tag.id)">{{tag.name}}</a>
	</li>
</ul>
<div ng-if="node.place">
	<h4 class="inlineBlock">Place</h4>
	<address ng-include="'templates/place.html'" onload="place=node.place"></address>
</div>
<details ng-if="node.comments" class="comments">
	<summary title="newest: {{node.updated_time|date:'yyyy-MM-dd HH:mm:ss'}}">
		{{node.comments.length|number}} comment(s)
	</summary>
	<section class="comment" ng-include="'templates/comment.html'"
		ng-repeat="comment in node.comments | orderBy: 'created_time'"
	></section>
</details>
<!--details class="rawdata"><summary>JSON</summary>{{node|json}}</details-->
