<div class="metadata">
	<a class="time_container" name="{{post._id}}" href="post.php?id={{post._id}}">
		<time class="created_time" datetime="{{post.created_time}}">{{post.created_time | date: 'yyyy-MM-dd HH:mm:ss'}}</time>
	</a>
</div>
<div class="story" ng-if="post.story">{{post.story}}</div>
<div class="message" ng-if="post.message">{{post.message}}</div>
<div class="link_container" ng-if="post.link">
	<div ng-if="!post.child_attachments">
		<h4><a class="link" href="{{post.link}}">{{post.name}}</a></h4>
		<a ng-if="post.full_picture" href="{{post.full_picture}}"
		><img ng-if="post.full_picture" ng-src="{{post.full_picture}}" class="full_picture"
		></a>
		<img ng-if="!post.full_picture && post.picture" ng-src="{{post.picture}}" class="picture">
		<blockquote class="description">{{post.description}}</blockquote>
	</div>
	<div ng-if="post.child_attachments">
		<!-- unsure structure... see post 299951923544433_408517786021179 -->
		<h4><a class="link" href="{{post.link}}">{{post.child_attachments[0].name}}</a></h4>
		<a ng-repeat="att in post.child_attachments" href="{{att.link}}"
		><img ng-src="{{att.picture}}"></a>
		<blockquote class="description">{{post.child_attachments[0].description}}</blockquote>
	</div>
</div>
<ul class="tags">
	<li ng-repeat="tag in post.story_tags" ng-if="tag.offset && tag.name">
		<a href="{{'https://www.facebook.com/'+tag.id}}">{{tag.name}}</a>
	</li>
	<li ng-repeat="tag in post.message_tags" ng-if="tag.name">
		<a href="{{'https://www.facebook.com/'+tag.id}}">{{tag.name}}</a>
	</li>
	<li ng-repeat="tag in post.with_tags">
		<a href="{{'https://www.facebook.com/'+tag.id}}">{{tag.name}}</a>
	</li>
</ul>
<details ng-if="post.comments">
	<summary title="newest: {{post.updated_time|date:'yyyy-MM-dd HH:mm:ss'}}">
		{{post.comments.length|number}} comment(s)
	</summary>
	<section class="comment" ng-include="'templates/comment_body.html'"
		ng-repeat="comment in post.comments | orderBy: 'created_time'"
	></section>
</details>
<!--details class="rawdata"><summary>JSON</summary>{{post|json}}</details-->
