<h1>Privacy Policy</h1>
<p>This site uses cookies to track of which Facebook user you are.</p>
<p>This site saves what you ask to download (or fetch, backup, crawl, etc.) from Facebook. We won't save the data after you ask to delete data of your profile and those of Facebook groups you managed. (But note that we wouldn't know whether you are a manager of some groups if you revoke permission <code>user_managed_groups</code>.)</p>
<p>We do not gurantee any data to be reserved. Data could be deleted by the managers' preference.</p>
<div>
	This site would not give away:
	<ul>
		<li>any personal profile data to third party, or</li>
		<li>group data to anyone who's no manager of the group.</li>
	</ul>
	Note that public data such as pages and events are allowed for anyone to download.
</div>
