/**
 * General settings.
 */
* { transition: all 1s; }
h1, h2, h3, h4, h5, h6 {
	margin: 0 .25em;
}
p { margin: .5em 0; }
label:hover { background-color: #ff0; }


/**
 * Header
 */
#wrapper > header {
	background: #444;
	color: #ccc;
}
#brand {
	font-size: x-large;
	font-weight: bold;
	margin: .4em 1em;
}
.navList > li {
	padding: .2em .5em;
	border: 1px solid #888;
}
.navList > li:hover {
	background-color: #000;
	color: #fff;
}
#wrapper > header a {
	color: inherit;
	text-decoration: none;
}
.searchBar {
	margin: .6em;
	position: relative;
}
.searchBar > input[type=text] {
	padding: .3em 3em .3em .3em;
}
.searchBar > input[type=submit],
.searchBar > input[type=image] {
	position: absolute;
	right: 0;
	top: 0;
	margin: .2em;
}


/**
 * Content
 */
#wrapper > section {
	padding: .5em;
}


/**
 * Footer
 */
#wrapper > footer {
	background: #ccc;
	border-top: 1px solid #888;
	text-align: center;
}
